.button {
  box-sizing: border-box;
  position: relative;
  width: 227px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button__cancel {
  width: 104px;
  height: 33px;
  background: #CED8DA;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  color: #565656;
  border: none;
}

.button__enter {
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  background: #0073DB;
  border-radius: 4px;
  width: 104px;
  height: 33px;
  border: none;
}
