.form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.form label {
  width: 70%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #565656;
  margin-top: 30px;
}

@media (min-width: @size-tablet) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 4%;
  }

  .form label {
    width: 460px;
  }
}
