.info {
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 100;
  // background-color: #ffffff;
  position: absolute;
  top: 90px;
  animation: bounce 0.8s;
}
//
// @keyframes bounce {
//   0% {
//     transform: translateX(-90px);
//   }
  // 60% {
  //   transform: translateY(50px);
  // }
  // 90% {
  //   transform: translateX(-500px);
  // }
  // 100% {
  //   transform: translateX(0);
//   // }
// }


.info__lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 90%;
  background-color: #ffffff;
  margin-left: 30px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.info__list a {
  text-decoration: none;
  border: none;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto medium";
  font-size: 18px;
  line-height: normal;
  color: #818181;
  padding-left: 6%;
  padding-right: 6%;
  width: 88%;
}

#li-1 {
  animation: bounce 0.2s;
}

@keyframes bounce {
  0% {
    transform: translateX(-90px);
  }
}

#li-2 {
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateX(-90px);
  }
}

#li-3 {
  animation: bounce 1s;
}

@keyframes bounce {
  0% {
    transform: translateX(-90px);
  }
}

#li-4 {
  animation: bounce 1.4s;
}

@keyframes bounce {
  0% {
    transform: translateX(-90px);
  }
}

#li-5 {
  animation: bounce 1.8s;
}
@keyframes bounce {
  0% {
    transform: translateX(-90px);
  }
}

#li-6 {
  animation: bounce 2.2s;
}
@keyframes bounce {
  0% {
    transform: translateX(-90px);
  }
}

.info__list h2 {
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto black";
  font-size: 20px;
  line-height: normal;
  color: #272727;
  padding-left: 6%;
}

.info__list {
border: 1px solid #ececec;
width: 100%;
min-height: 53px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: flex-start;
}

.info__list {
/* тут твои стили */
transition: left ease 0.2s;
left: -350px;
}

.info__list {
/* тут твои стили */
left: 0px;
}

.info-tablet {
  display: none;
}

.into-tablet {
  display: none;
}

.info-active {
  border-left: 2px solid #F28E1C;
}

.info-active a {
  font-family: "Roboto bold";
  font-weight: bold;
  color: #565656;
}

.info__logo {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
}

.info__logo img {
  width: 215px;
  height: 80px;
}

@media (min-width: @size-tablet) {
  .info {
    width: 30%;
    position: relative;
    top: 0;
    animation: none;
    margin: 0;
  }

  .info__logo {
    display: none;
  }

  .info__list a {
    padding: 6%;
    width: 88%;
  }

  .info__list {
  width: 253px;
}

  .into-tablet {
    display: flex;
  }

  .info__lists {
    width: 253px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    margin-left: 0;
}
  .info-tablet {
    display: block;
  }
}

@media (min-width: @size-desktop) {
  .info {
    width: 25%;
  }

  .info__lists {
    width: 253px;
  }
}
