.pay {
  display: none;
}

.pay__header {
  justify-content: flex-start;
  width: 95%;
  padding-left: 3%;
}

.pay__form {
  width: 100%;
}

.pay__lists {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}

.pay__lists li {
  margin-left: 5%;
}

.pay__background {
  width: 125px;
  height: 125px;
  background: #E0E6E7;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay__background:focus,
.pay__background:hover {
  border: 1px solid #0073DB;
}

.pay__img1 {
  width: 74px;
  height: 53px;
}

.pay__img2 {
  width: 95px;
  height: 18px;
}

.pay__img3 {
  width: 102px;
  height: 23px;
}

.pay__img4 {
  width: 104px;
  height: 28px;
}

.pay__sum input {
  display: flex;
  width: 190px;
  height: 39px;
  background: #E0E6E7;
  border-radius: 4px;
  border: none;
}

.pay__sum {
  margin-left: 5%;
}

.pay__content {
  margin-left: 5%;
}

.pay__content label {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: normal;
color: #565656;
}

.pay__enter {
  margin-left: 5%;
  margin-bottom: 50px;
}

.pay__sum,
.pay__lists,
.pay__content {
  margin-top: 20px;
}

.pay__lists li p {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: normal;
text-align: center;
color: #565656;
width: 100px;
}
