.review {
  display: none;
  box-sizing: border-box;
}

.review__toggle {
  display: none;
  padding-left: 6%;
}

.review__toggle-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.review__toggle label {
  font-family: "Roboto medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #565656;
  margin-bottom: 10px;
}

.review__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.review__radio + label {
  position: relative;
  padding-left: 25px;
  top: 0;
  left: 2px;
  cursor: pointer;
}

.review__radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #F28E1C;
  border-radius: 50%;
}

.review__radio + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #F28E1C;
  opacity: 0;
  transition: all 0.2s;
}

.review__radio + label::after {
  opacity: 1;
}

.review__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ECECEC;
  min-height: 53px;
  align-items: flex-start;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.review__date {
  display: flex;
  position: relative;
  align-items: center;
}

.review__date select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: url("../img/select.svg");
  background-repeat: no-repeat;
  position: relative;
  font-family: "Roboto bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: right;
  color: #565656;
  border: none;
  background-color: #ffffff;
}

.review__icon,
.review__icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 20px;
  margin-left: 15px;
}

.review__date .review__icon select {
  width: 70px;
  background-position: 56px center;
}

.review__date .review__icon2 select {
  width: 60px;
  background-position: 40px center;
}

.review__i {
  display: none;
}

.review__header-title {
  font-family: "Roboto black";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: normal;
  color: #272727;
}

.review__header-title span {
  color: #F28E1C;
  margin-left: 5px;
}

.review__check,
.review__check2 {
  padding: 0;
  list-style-type: none;
}

.review__check {
  display: flex;
  flex-direction: row;
}

.review__lists {
  display: flex;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.review__wraper {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.review__time {
  font-family: "Roboto bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #565656;
}

.review__minus {
  font-family: "Roboto bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #0073DB;
  margin: 0;
}

.review__plus {
  font-family: "Roboto bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #F28E1C;
  margin: 0;
}

.review__2 {
  width: 100%;
  display: flex;
}

.review__check2 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.review__check2 li {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  min-height: 92px;
}

.review__list-account {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  text-align: right;
  color: #565656;
}

.review__list-account span {
  font-family: "Roboto medium";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  text-align: right;
  color: #565656;
}
@media (min-width: @size-tablet) {
  .review {
    display: flex;
  }

  .review__i {
    display: block;
    padding-right: 5%;
  }

  .review__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .review__header-title {
    width: 200px;
  }

  .review__open {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    text-align: right;
    color: #565656;
    width: 45%;
  }

  .review__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35%;
    height: 10px;
  }

  .review__icon::after {
    top: 3px;
    right: 8px;
  }
}
@media (min-width: @size-desktop) {
  .review__header-title {
    width: 300px;
  }
}
